!tags/
!tmp/cache/.keep
*.beam
*.sw[nop]
.CFUserTextEncoding
.DS_Store
.Trash/
.bart
.bash_history
.bundle
.byebug_history
.config/fish/fish_variables
.config/fish/functions/fish_user_key_bindings.fish
.config/fish/functions/fzf_key_bindings.fish
.config/hub
.dbname
.editorconfig
.elasticbeanstalk
.env.local
.foreman
.fzf/
.local/
.rubocop.yml
.ssh/
.tool-versions
.vim/plugged/
.vim/undo/
.viminfo
.zsh_history
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
__pycache__
code/
db/*.sqlite3
log/*.log
rerun.txt
tags
tags.lock
tmp/**/*
vimrc.local
