!tags/
!tmp/cache/.keep
*.beam
*.pid
*.sw[nop]
.CFUserTextEncoding
.DS_Store
.Trash/
.asdf/
.bart
.bash_history
.bash_logout
.bashrc
.bundle
.byebug_history
.cache/
.config/BlueSherpa/
.config/Zeal/
.config/configstore/
.config/dconf/
.config/enchant/
.config/evolution/
.config/fish/fish_variables
.config/fish/functions/fish_user_key_bindings.fish
.config/fish/functions/fzf_key_bindings.fish
.config/gedit/
.config/gh/
.config/gnome-initial-setup-done
.config/google-chrome/
.config/gtk-3.0/
.config/hub
.config/ibus/
.config/menus/
.config/nextjs-nodejs/
.config/pulse/
.config/user-dirs.dirs
.config/user-dirs.locale
.cpan/
.dbname
.dropbox/
.editorconfig
.elasticbeanstalk
.env.local
.erlang.cookie
.foreman
.fzf.bash
.fzf.zsh
.fzf/
.gem/
.gnome/
.gnupg/
.irb_history
.irbhistory
.lesshst
.local/
.mozilla/
.netrc
.node-gyp/
.node_repl_history
.npm/
.pki/
.plotly/
.profile
.psql_history
.rubocop.yml
.sentryclirc
.ssh/
.sudo_as_admin_successful
.tool-versions
.vim/.netrwhist
.vim/plugged/
.vim/undo/
.viminfo
.vimrc.local
.webdrivers/
.wget-hsts
.yarnrc
.zsh_history
.zshrc
/tags
/tags.lock
/tags.temp
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/.localized
Public/Drop\ Box
__pycache__
aws/
cache/
code/
db/*.sqlite3
en.utf-8.add.spl
go/
log/*.log
rerun.txt
snap/
tmp.*
tmp/**/*
