[alias]
  aa = add --all
  amend = "!git commit --amend -C HEAD --date=$(date +%Y-%m-%dT%H:%M:%S)"
  ap = add --patch
  au = add -u
  b = branch
  bd- = branch -D @{-1}
  cb = "!git switch $(git branch -a | ag -v '^\\*' | ag -v 'HEAD' | fzf | sed -E 's/[^\\/]+\\/[^\\/]+\\///')"
  ci = commit -v
  conflicts = "!$EDITOR $(git diff --name-only --diff-filter=U)"
  d = diff
  dc = diff --cached
  l = "ll -12"
  la = "ll --all"
  ll = "log --graph --pretty='format:%C(yellow)%h %C(green)%ar %C(cyan)%an %C(red)%d %C(reset)%s'"
  lt = "ll --simplify-by-decoration"
  m = "!git switch ${1:-master} && git merge - && git b -d @{-1}"
  p = push -u
  pf = push --force-with-lease
  rba = rebase --abort
  rbc = rebase --continue
  s = status -sb
  sha = "!git rev-list --max-count 1 HEAD | tr -d '\n' | pbcopy"
  ss = diff --shortstat
  sw = switch
  todo = "!git grep TODO -- $(git diff --name-only ${1:-origin/master}...HEAD)"
  wd = diff --word-diff
  wip = "!f() { git ci -m \"WIP $*\"; }; f"
[color]
  ui = auto
[core]
  autocrlf = input
  commentchar = ";"
  excludesfile = ~/.gitignore
  pager = delta --light
[diff]
  colorMoved = zebra
  compactionHeuristic = true
[fetch]
  prune = true
[github]
  user = thorncp
[grep]
  lineNumber = true
[merge]
  ff = only
[push]
  default = current
[rebase]
  autosquash = true
[rerere]
  enabled = true
[user]
  email = chris@thorn.co
  name = Chris Thorn
  signingkey = 54700D0303A26279
[color "diff"]
  meta = black bold
[commit]
  gpgsign = true
[gpg]
  program = gpg
