[alias]
  aa = add --all
  amend = "!git commit --amend -C HEAD --date=$(date +%Y-%m-%dT%H:%M:%S)"
  ap = add --patch
  au = add -u
  b = branch
  bd- = branch -D @{-1}
  cb = "!git switch $(git branch -a | ag -v '^\\*' | ag -v 'HEAD' | fzf | sed -E 's/remotes\\/origin\\///')"
  ci = commit -v
  conflicts = "!$EDITOR $(git diff --name-only --diff-filter=U)"
  d = diff
  dc = diff --cached
  l = "ll -12"
  la = "ll --all"
  ll = "log --graph --pretty='format:%C(yellow)%h %C(green)%ar %C(cyan)%an %C(red)%d %C(reset)%s'"
  lt = "ll --simplify-by-decoration"
  m = "!git switch ${1:-`git main-local`} && git merge - && git b -d @{-1}"
  main = symbolic-ref --short refs/remotes/origin/HEAD
  main-local = "!git main | sed 's/origin\\///'"
  p = push -u
  pf = push --force-with-lease
  rba = rebase --abort
  rbc = rebase --continue
  s = status -sb
  sha = "!git rev-list --max-count 1 HEAD | tr -d '\n' | pbcopy"
  ss = diff --shortstat
  sw = switch
  todo = "!git grep TODO -- $(git diff --name-only ${1:-`git main`}...HEAD)"
  wd = diff --word-diff
  wip = "!f() { git ci -m \"WIP $*\"; }; f"
[color]
  ui = auto
[color "diff"]
  meta = black bold
[commit]
  gpgsign = true
[core]
  autocrlf = input
  commentchar = ";"
  excludesfile = ~/.gitignore
  pager = delta
[delta]
  minus-style = brightred bold ul "#4E2020"
  minus-emph-style = auto red
  plus-style = brightgreen bold ul "#4D5124"
  plus-emph-style = auto green
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
[diff]
  colorMoved = zebra
  compactionHeuristic = true
[fetch]
  prune = true
[github]
  user = thorncp
[gpg]
  program = gpg
[grep]
  lineNumber = true
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[merge]
  ff = only
[pull]
  rebase = true
[push]
  default = current
[rebase]
  autosquash = true
[rerere]
  enabled = true
[user]
  email = chris@thorn.co
  name = Chris Thorn
  signingkey = B7FF281D5A092DFC
